#transcript {
  width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 15px;
}

.transcript-body {
  overflow-y: scroll;
  height: 247px;
  clear: both;
}

.transcript-line {
  position: relative;
  padding: 2px;
  cursor: pointer;
  line-height: 1.3;
}

.transcript-timestamp {
  display: none;
  visibility: hidden;
}

.transcript-text {
  display: block;
  min-height: 20px;
}

.transcript-line:hover {
  background-color: #c9f3f3;
}

.transcript-line.is-active {
  background-color: #e2fbfb;
}
.transcript-header-container {
  float: right;
}
.transcript-download-btn {
  display:inline-block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAMAAADDpiTIAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAOxlAADsZQHOLvIIAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAppQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHx4VugAAAN10Uk5TAAECAwQFBgcICQoLDA0ODxAREhQVFhcYGRobHB0fICEiIyQlJicpLC0uMDIzNDU2Nzg5Ojw9Pj9AQUJDREVGR0hJSktNTk9RUlRVVldYW1xdXl9gYWJjZWZnaGlrbG5vcHN0dXZ3eHl6e3x/gIGCg4eIiYqMjo+QkZKTlJWWmJucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tre4ubq7vb6/wMHCw8XGx8jJysvMzc7P0NHS09TV1tjZ2tve3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f4DHRoTAAAJyUlEQVR42u3d+ZtWZRnA8ZlhURinnADHpFgMshIySi23pszIBpfSstBCTcIWtaQCI8fKXEOUytIWyqRMLMMMCdChxFAkQcZGtpn3f+m3rrpmeZc557zP85zP9w/wh/v+XF6jM/d5WloSrL3n+796+sXBSpYN7v7zjy5tb1H4Tbt7oJJT/VcZb/CdsbuSY7cbcOB17ank2pVGHHbfyXf/lW1GHHabcwZQWWTGITflSN4AlhtyyJ2U9/4rXzfkkGvLHcDNhhx0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAGg4gAcPVh3A/94fP0t131sou2kAKDxdlzcaj9lBlCpPOFfArU1ce55V1zZWEEDqFxqt9WbsqrvaCXRnrLeqi3YXkm3Z+y3aj9JeP+Vn9pv1XanDOCr9lu1XQnvf2CG/VatN2EAt1hv9c5Od/8vn2C9NbQ2WQAft9xa6nw+0f3fYbe1dc5Qkvv/7WSrrbFVKe5/6/EWW2vHbk5v/wfm2WvtTd+WHIAltlpPM3cmtv81dlpf7+hPav9/9ANgvS1O6T8FXplloXV3fTr7H7rAOhvonmQArLTMhv5j8IlE9v97fwnYWCem8ZvhPW+2ygZbMJDA/gfPtciGW+KPgEreTdHvf0ObLY6j1vWR7/+F6ZY4rqY+FfX+j5xuhePsLS/GDGC5BY679x6Md/8/cw2aQZdFu/++TtvLom9Euv9D77a7TGp7OE4An7e6jOrYGuP+11lcZs3ZG9/+t3fYW3Z94HBs+x94p61l2dLYAHzazrJtTVz7/4GNZdzEX8e0/y1TbSzrOnfEs//++faVffP3RwPgYtvKo+5YPh7Wa1f5dE0c+3/yGKvKqe/FsP99sy0qryb9LgIAi+0pv6b3Bb//b9pSngV/NPqYK5B8++hg0Pt/eaYV5dyKkPc/2G1BuRfy0ehN1pN/x24Kdv+/cQVSRMEejf7Tl0CLKdCj0aNnWk1BhXk0usJiCuvGAPf/sCuQ4grwaPTvb7KWAgvuaPTweyyl0EI7Gl1mJQUX1tHoAxZSeJ8MaP/PvsE+ii+co9HX32UbTSico9HPWEZT6ngmjP3fZRVNKoyj0a2uQJpWCEejr73dHppXAEejl9hCM2v60ehtdtDUmn00utkVSJNr7tHo/rk20Ozm72sigAvNv/k18Wj0W6YfQlc37QpkkuEH0Xebs/+XvAUSSM05Gj16lsmH0rRmHI1+0dzDqQlHow/6I9CQKvxo9Nk3GnpQFXw06kugwVXs0ehlBh5ahR6N+hVQgHU9X9j+/+RXQCF2alFHo/96q2EH2ZKhQvY/+CGjDrRijkZvMOhQK+Ro9Be+AxJuUzfnvv+dzoBDLvej0YMLDTno8j4aXWrEgZfv0egdBhx8eR6NPj3FfIOv7aH8/gj4ZOONoNyORod8Cj6O8joavdloI+n9uRyNPjLBZGPpszns/4UZ5hpP3858/4ffZ6oRNWFD1gCuNtSo6tye7f7vM9LIyvZo9G/HmWhsfTDDo9F+34GJsAyPRi8yzRjL7Gh0tVlG2aSNzsDLXTZHo87A4+2UDI5GnYHHXAZHo87Ao27cR6POwCPvbmfg5W58R6POwONvXEejzsAT6NR/OwMvdz2NHo06A0+kGxrb/15n4InU+kBD/wfoHJNLpYaORq81t3Rq4Gh0raml1KJ6j0b/4i2otPpEnd8Bmm1kibWyrh8AzzOw1KrraHS5eaVXHUej60wrxWbXejT613bDSrIaj0ZfmWNUiVbT0ehgt0ElWy1HoyuMKd1qOBq935RS7vhqR6Nb/ACYdlWORvd5DDb1xjwaPXyuASXfsjEAfMp4StDoR6NfM5wyNOrR6D1mU46mPTfi/jdONpqSdMqBEfa/zUsA5emC4Ueje+YYS4m6btgR2CJDKVXL/3//hy40kpJ1/s7/fQnoNAMpXe2r/vuDwEOdxlHGFtzaV6lU9vSe6SMQpW16V9dEU5AkSZJUvq59MIO8qlRAM7LY1LJh/9j7sviq8izryb9Z+TyBDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAJAAAgAlQ3ApkeVe5sCBqBYAgAAAAAAAAAAAAAAAAAAAAAAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAxQjgh4ZSpm4fBmC1oZSplcMALDeUMnXNMACXGEqZumgYgLMMpUydMQzAPEMpUycPA3CcoZSp9uEfoNxrKuVp7whfIL3XWMrTvSMA6DGW8rRkBAAdB82lLB3qGOkr1D83mLL0yxE/Q77UYMrSVSMCOHHIZMrR0Ekjv0Rwv9GUox+P8hTF246YTRk6Mm+0x0h6DacM3TrqazQnvGY66XdgxujvEd1oPOn3lTEepOp4yXxSb9fUsZ4kO9vPgYl36PSxH6X7nBGl3RXVniW8zYxSbnXVdyknbTSldNswofrLpNP6zCnVdnTW8jbtzCdNKs0e76rtdeIpa80qxe48puYHqr/sF4PJNfiFep4oX9xvYmm1/8P1PVI/1++GU2po7ayWejvtUXNLpUcWtjTSR7YYXQptOb+lwdp61r1qfnH36rqetpZxNLm7d5cpxtqu3u7JLeOudeHlX1qz/g997gai6fXnHlu/5vrLF7ZW3+5/AOoLq3eDdVcoAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin: 0 10px 0 15px;
  text-indent: 1000px;
  cursor: pointer;
}

.transcript-header {
  display: none;
}
